# fly.toml app configuration file generated for kahoot-quiz-gen on 2025-12-30T21:10:06-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kahoot-quiz-gen'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  JAVA_TOOL_OPTIONS = '-XX:MaxRAMPercentage=75.0 -XX:+UseContainerSupport -Xss256k'
  NODE_ENV = 'production'
  SERVER_PORT = '8080'
  SPRING_PROFILES_ACTIVE = 'openai'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '1m0s'
    method = 'GET'
    path = '/actuator/health'
    protocol = 'http'

    [http_service.checks.headers]
      Accept = 'application/json'

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
